fastapi
uvicorn[standard]
sqlalchemy
psycopg2-binary
python-jose[cryptography]
passlib[bcrypt]
python-multipart
alembic
pydantic
pydantic-settings
email-validator
python-dotenv
redis
celery[redis]
flower
aiosmtplib