fastapi
uvicorn[standard]

sqlalchemy[asyncio]>=2.0
asyncpg
psycopg2-binary
alembic

pydantic
pydantic-settings
email-validator

python-jose[cryptography]
passlib[bcrypt]
python-multipart

python-dotenv

reportlab
openpyxl

httpx